{
    "root": true,
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint",
        "import"
    ],
    "rules": {
        "@typescript-eslint/lines-between-class-members": "off",
        "react/jsx-filename-extension": "off",
        "import/no-cycle": "off",
        "@typescript-eslint/naming-convention": "off",
        "semi": "off",
        "@typescript-eslint/semi": 0,
        "curly": "warn",
        "eqeqeq": "warn",
        "no-throw-literal": "warn"
    },
    "ignorePatterns": [
        "out",
        "dist",
        "**.config.js",
        "test",
        "node_modules",
        "webpack.config.cjs",
        // "**/*.d.ts",
        "Pine Scripts"
    ],
    "env": {
        "browser": true,
        "es2021": true,
        "node": true
    },
    "extends": [
        "airbnb-typescript"
    ],
    "parserOptions": {
        "project": "./tsconfig.json",
        "ecmaVersion": 12,
        "sourceType": "module"
    }
}